<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>SpielShiff</title>
    <link rel="icon" href="/images/spielshiffLogo.svg">
  </head>
  <body class="">


   <h1>Olá mundo</h1>

    {{{body}}}
    
  </body>
</html>
