<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="shortcut icon" href="images/spielshiffLogo.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>SpielShiff</title>
</head>
<body>
  <div class="container">
    <section class="perfil-usuario">
      <div>
        <img id="foto-perfil" src="./images/perfil sombra.jpg" alt="perfil">
      </div>
      <div class="dados">
        <h2 class="text-perfil">Nome Sobrenome</h2>
        <p class="text-perfil">----------- Descrição (opcional) ----------------</p>
        <button class="btn" type="button">Fallowing</button>
        <button class="btn" type="button">Hire Me</button>
        <button id="opcoes" class="btn" type="button">...</button>
        <!-- <div id="balao">
          <button class="btn" type="button">Editar Perfil</button>
        </div> -->
      </div>
    </section>
    <section class="feed">
      <div>
        <h3>Feed</h3>
      </div>
    </section>
  </div>
  <script src="./js/perfil.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>